#set($layout = "frontend/layout/blank.vm")

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../assets/image/favicon.ico" type="image/x-icon" />
    <title>萤火拍卖 注册</title>
#*layui*#
    <link rel="stylesheet" href="../assets/libs/layui/css/layui.css">
    <script src="../assets/libs/layui/layui.js"></script>
#*bootstrap*#
    <script src="../assets/libs/bootstrap/js/jquery/2.0.0/jquery.min.js"></script>
    <link href="../assets/libs/bootstrap/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="../assets/libs/bootstrap/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <link href="../assets/libs/bootstrap/fore/style.css" rel="stylesheet">
#*frontend.js*#
    <script src="../assets/js/frontend.js"></script>
</head>
<body>

<div>
    <a href=""><img src="../assets/image/logo.jpg" style="width: 100%"></a>
</div>
#*注册页*#
<div class="registerDiv">
    <div class="registerErrorMessageDiv">
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <span class="errorMessage"></span>
        </div>
    </div>

    <table class="registerTable" align="center">
        <tbody>
        <tr>
            <td class="registerTip registerTableLeftTD">设置会员名</td>
            <td></td>
        </tr>
        <tr>
            <td class="registerTableLeftTD">登录名</td>
            <td class="registerTableRightTD">
                <input id="name" name="name" placeholder="会员名一旦设置成功，无法修改" onchange="checkRegisterName('SaleUser')" maxlength="20">
                <div id="existName" class="registerTableLeftTD" style="color: #C40000"></div>
            </td>
        </tr>
        <tr>
            <td class="registerTip registerTableLeftTD">设置联系方式</td>
            <td></td>
        </tr>
        <tr>
            <td class="registerTableLeftTD">手机号</td>
            <td class="registerTableRightTD"><input id="phone" name="phone" placeholder="手机号一旦设置成功，无法修改" maxlength="20"> </td>
        </tr>
        <tr>
            <td class="registerTip registerTableLeftTD">设置登陆密码</td>
            <td class="registerTableRightTD">登陆时验证，保护账号信息</td>
        </tr>
        <tr>
            <td class="registerTableLeftTD">登陆密码</td>
            <td class="registerTableRightTD"><input id="password" name="password" type="password" placeholder="设置你的登陆密码" maxlength="20"> </td>
        </tr>
        <tr>
            <td class="registerTableLeftTD">密码确认</td>
            <td class="registerTableRightTD">
                <input id="repeatpassword" type="password" placeholder="请再次输入你的密码" maxlength="20" onchange="checkPassword()">
                <div id="differentPassword" class="registerTableLeftTD" style="color: #C40000"></div>
            </td>
        </tr>
        <tr>
            <td class="registerTip registerTableLeftTD">您的真实姓名</td>
            <td></td>
        </tr>
        <tr>
            <td class="registerTableLeftTD">真实姓名</td>
            <td class="registerTableRightTD"><input id="realName" name="realName" placeholder="请输入您的真实姓名" maxlength="20"> </td>
        </tr>
        <tr>
            <td class="registerTip registerTableLeftTD">您的邮箱</td>
            <td></td>
        </tr>
        <tr>
            <td class="registerTableLeftTD">邮箱</td>
            <td class="registerTableRightTD"><input id="email" name="email" placeholder="请输入您的邮箱" maxlength="20"> </td>
        </tr>
        <tr>
            <td class="registerTip registerTableLeftTD">您的住址</td>
            <td></td>
        </tr>
        <tr>
            <td class="registerTableLeftTD">住址</td>
            <td class="registerTableRightTD"><input id="address" name="address" placeholder="请输入您的地址" maxlength="20"> </td>
        </tr>
        <tr>
            <td class="registerTip registerTableLeftTD">邮政编码</td>
            <td></td>
        </tr>
        <tr>
            <td class="registerTableLeftTD">邮政编码</td>
            <td class="registerTableRightTD"><input id="zipCode" name="zipCode" placeholder="请输入您的邮政编码" maxlength="20"> </td>
        </tr>
        <tr>
            <td colspan="2" class="registerButtonTD">
                <form id="saleRegisterForm" method="post" class="registerForm" style="display: none" action="/sale_register/getRegister.html">
                    <input id="realname" name="userName" type="hidden">
                    <input id="realphone" name="phone" type="hidden">
                    <input id="realpassword" name="password" type="hidden">
                    <input id="trueName" name="realName" type="hidden">
                    <input id="realemail" name="email" type="hidden">
                    <input id="realaddress" name="address" type="hidden">
                    <input id="realzipCode" name="zipCode" type="hidden">
                </form>
                <a href="javascript:saleUserRegisterSubmit();"><button>提   交</button></a>
            </td>
        </tr>
        </tbody>
    </table>


</div>
<div align="center">
    <p>
        <a href="http://www.taobao.com/about">关于萤火</a>
        <a href="http://www.taobao.com/about/partners.php">合作伙伴</a>
        <a href="http://pro.taobao.com">营销中心</a>
        <a href="mailto:lianzheng@taobao.com" title="lianzheng@taobao.com" target="_self">廉正举报</a>
        <a href="http://service.taobao.com/support/main/service_route.htm">联系客服</a>
        <a href="http://open.taobao.com">开放平台</a>
        <a href="http://www.taobao.com/about/join.php">诚征英才</a>
        <a href="https://consumerservice.taobao.com/contact-us?spm=a21bo.50862.1997523009.35.5dcec6f7zikHQ3">联系我们</a>
        <a href="http://www.taobao.com/sitemap.php">网站地图</a>
        <a href="http://terms.alicdn.com/legal-agreement/terms/suit_bu1_taobao/suit_bu1_taobao201703241622_61002.html">法律声明及隐私权政策</a>
        <em>© 2018 Taobao.com 版权所有</em>
    </p>
    <p>
        <span>网络文化经营许可证：浙网文[2016]0132-032号</span>
        <b>|</b>
        <span>增值电信业务经营许可证：浙B2-20080224-1</span>
        <b>|</b>
        <span>信息网络传播视听节目许可证：1109364号</span>
    </p>
</div>
</body>
</html>

